<!-- <script src="/portfolio/portfolio/core/static/portfolio/js/rellax-master/rellax.min.js"></script> -->

{% load static %}

<!--Latest version JQuery-->
<script src="{% static 'portfolio/js/aos-master/dist/aos.js' %}"></script>
<script src="{% static 'portfolio/js/Scrollax.js-master/scrollax.js' %}"></script>
<!-- <script src="{% static 'portfolio/js/rellax-master/rellax.min.js' %}"></script> -->
<script src="{% static 'portfolio/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'portfolio/js/slick/slick.min.js' %}"></script>
<script src="{% static 'portfolio/js/app.js' %}"></script>

<script>
    AOS.init();
</script>